spawn-at-startup "noctalia"

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

switch-events {
    lid-close { spawn "noctalia" "msg" "session" "lock-and-suspend"; }
}

binds {
    Mod+Space hotkey-overlay-title="Run an Application" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "noctalia msg session lock-and-suspend"; }
    Mod+Alt+S hotkey-overlay-title="Noctalia Region screenshot" { spawn-sh "noctalia msg screenshot-region"; }
    Mod+Alt+Shift+S hotkey-overlay-title="Noctalia Fullscreen screenshot" { spawn-sh "noctalia msg screenshot-fullscreen"; }
}
